.control-panel{
  background-color:#ced1d3;
  position:relative;
  .border-radius(6px);
  padding: 0 10px;
  margin:20px 0;

  .control-roles {
    //text-shadow: 1px 1px;
    margin:10px 0;

    & li {
      position:relative;

      @media(max-width:767px){
        display:block;
        margin-bottom:10px;
      }

      &.active:before{
        content:'';
        position:absolute;
        top:100%; left:50%;;
        width: 0;height: 0;
        margin-top: -10px; margin-left: -5px;
        border:10px solid #dcdee0;
        border-left-color:transparent;
        border-right-color:transparent;
        border-top-color:transparent;
      }
    }
    & a, & a:hover{
      text-shadow: 1px 1px white;
      &  > [class^="icon-"]{
        text-shadow: 1px 1px;
      }
    }

    &.disabled {
      & a > [class^="icon-"]{
        text-shadow: 1px 1px;
      }
    }

    & > .active > a, & > .active a:focus {
      text-shadow: 1px 1px #048db0;
      background-color: #048eb1;
//      background-color: #ced1d3;
      &  > [class^="icon-"]{
        text-shadow: 1px 1px #048eb1;
      }
    }
  }

  .control-buttons{
    @media(max-width:767px){
      margin-top:15px;
      float:none;

      & .btn {
        display:block;
        margin-top:5px;
        margin-left:0;
      }
    }
  }
}

.game-rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  span.star{
    font-family: FontAwesome;font-weight: normal;font-style: normal;display: inline-block;
    &:before{
      content: "\f006";padding-right: 5px;color: #999999;
    }
    &:hover{
      &:before, ~span.star:before{
        content: "\f005";
        color: #e69805;
      }
    }
  }
}

#account-games {
    margin-top:25px;
}
.download-info {
    margin-top:15px;
    margin-left:30px;
}
.download-info span {
    font-weight:bold;
}
#account-games .article-meta p {
    margin-top:0;
}
.game-dev, .purchase-date {
    font-style:italic;
    font-size:10pt;
}

.inputs {
  &.developer, &.reviewer {
    margin-top: 20px;border-bottom: 1px solid white;margin-bottom: 40px;
    & .inputs-inner{
      border-bottom: 1px solid #b8bbbf;
      padding-bottom: 65px;

      & .editor{
        input, textarea {width: 100%; resize:vertical; padding:10px; font-size:18pt; line-height:18pt;} 
      }
    }
  }
}



