/************* ARTICLES *************/
.homepage-article {
    border-bottom:1px solid white;
    margin-bottom:30px;
}
.homepage-article-inner {
    border-bottom:1px solid #ced0d2;
}
.article-meta p {
    margin-top:-10px;
}
p.datestamp, p.statistics {
    color:#999999;
    font-size:9pt;
}
p.username {
    color:#7a7979;
    font-size:11pt;
}
.statistics span {
    margin-right:5px;
}
.article-text h3 {
    color:#9b9c9e;
}
i {
    opacity:0.5;
}
.BorderAndShadow {
    border:4px solid white;
    margin-bottom:20px;
}
.shadow {
    background:url('/static/img/image-shadow.png') no-repeat 0px 132px;
}

/************* SIDEBAR *************/
.sidebar .row-fluid {
    margin-bottom:30px;
}
.popular-item p {
    display:inline;
    margin-right:5px;
}
.popular-item span {
    margin-left:3px;
    font-size:10pt;
}
.popular-item-inner {
    border-bottom:1px solid #ced0d2;
    padding-bottom:5px;
}
.popular-item {
    border-bottom:1px solid white;
    margin-bottom:5px;
}

/*************************** MISC. ***************************/
.btn {
    background-image:none;
    background-color:#048eb1;
    padding:10px;
    text-shadow:none;
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    color:white;
}
.btn-center {
  width:100px;
  margin:0 auto;
}
