.btn {
  text-transform:uppercase;
//  font-weight: 700;
  font-family: @oswaldFontFamily;

  & .accent {
    line-height:2em;
    margin:5px -20px;
  }
  & .icon-facebook{margin-right:12px;}
  & .icon-twitter{margin-right:12px;}
}
.btn-blue {
  background-color:#048eb1;
}
.btn-orange {
    background-color:#fee732;
}
.btn-grey {
    background-color:#b3babf;
}
.btn-rust {
    background-color:#e65e05;
}
.btn-border {
    border:3px solid white;
}

.btn-violet{
  .buttonBackground(@btnVioletBackground, @btnVioletBackgroundHighlight, @grayDark, 1px 1px 1px #14002f);
  & .accent {
    background-color: #2c005f;
  }
}

.btn-info{ & .accent{background-color: #00517e;}}
.btn-warning{ & .accent{background-color: #d15f00;}}
.btn-success{ & .accent{background-color: #3d8300;}}

.btn-center {
  width:100px;
  margin:0 auto;
}

.btn-google-plus {
  .buttonBackground(@btnGooglePlusBackground, @btnGooglePlusBackgroundHighlight);
  & .icon-google-plus{margin-right:12px;}
  &.active{
    color: rgba(255,255,255,.75);
  }
}

.btn-buy {
  color: #00a6d2;
  text-transform:none;
  & span { color: white;}

  &.win, &.win:hover, &.win:focus {
    background-image: url('/static/img/icon-buypc.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 56px;
  }
}

.box {
  padding:10px;
  @media(max-width:767px){
    padding:0;
    & .btn{
      width:100%;
      position:relative;
      & .accent{
        position:absolute;
        bottom:0;
        left:50%;
        margin-left: -35px;
        background-color:transparent;
      }
    }
  }
}
