body{
  padding-top:0;
  @media (min-width: 980px){padding-top:105px;}
}

a{&:hover {text-decoration:none;}}

h1,h2,h3,h4,h5,h6,h7 {
  text-shadow:1px 1px white;
  margin-top:-8px;
}

.blue {color:#048eb1;}

.ighead {
  margin-bottom:0;

  &:before {}

  & .navbar-inner{
    background: #079ebd; /* Old browsers */
    background: -moz-linear-gradient(top, #079ebd 0%, #026e97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#079ebd), color-stop(100%,#026e97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #079ebd 0%,#026e97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #079ebd 0%,#026e97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #079ebd 0%,#026e97 100%); /* IE10+ */
    background: linear-gradient(to bottom, #079ebd 0%,#026e97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079ebd', endColorstr='#026e97',GradientType=0 ); /* IE6-9 */
    padding:10px 0;
    border-radius:0;
    border:none;
    border-top:1px solid #89d8df;
    border-bottom:1px solid #004b57;
  }

  &.navbar{
    & .nav{margin-top:20px;}
    & .nav > li > a {
      text-shadow:2px 2px black;
      color:#fffefe;
      font-family: 'Oswald', sans-serif;
      font-size:13.5pt;
      font-weight:700;
      &:hover{
        color:#dcdee0;
      }

      &.profile-picture{
        padding: 0;
        margin: -7px -5px 0 10px;
        background-color:transparent !important;
        &:hover{background-color:transparent !important;}
      }
    }
  }

  & .brand {
    color:#fffefe;
    font-family: 'Oswald', sans-serif;
    font-size:20pt;
    font-weight:700;
    text-shadow:2px 2px black;
  }

  & .btn-navbar {margin-top:15px;}
}

.igfoot {
  color:#94989d;
  padding-bottom: 20px;
  & a {color:#94989d;&:hover{color:#005580;}}
}

.modal-login{
  position:relative;
  margin: 50px auto 20px;
  left:0;
  top:auto;
}


