.fd-ui {
    margin-top: 0px;
    margin-bottom: 0px;
    &.comments-flat{
        background: #fff;
        .box-shadow(0 2px 3px 1px rgba(0,0,0,.1));
        margin:0 0 50px 0;
        padding-bottom: 5px;

        & .fd-title{
            border-bottom: 1px solid #079ebd;
            margin:0 0 5px;

            .fd-title-i{
                font-size: @baseFontSize * 1.25;
                font-weight: @headingsFontWeight;
                padding:0;
            }
        }

        & .fd-entry{
            margin:0px 0px 0px 0px;
            padding:0px 0px 0px 0px;
            border-bottom:2px solid #ffffff;
            border-bottom-style: groove;

            & .fd-entry-container{ margin: 0; padding: 0; .fd-make-col(12); }
            img {max-width:100%;}
            & .fd-entry-container{ margin: 0; padding: 0; & .media-body{overflow:initial;} }
        }
        & .fd-body{ padding:0; margin: 0; }

        & .comments{ & .fd-body{} }
    }
    &.comments{
        & .fd-body{
            padding-bottom:0;
        }
    }

    &.articles{
        padding-top:15px;
        padding-bottom: 5px;
        border-bottom:2px solid @white;
        border-bottom-style:groove;

        .media-pic {
            border:1px solid #e1e1e1;
            padding: 4px;
            margin:5px 4px 8px;
            position:relative;
            background: #ffffff;

            &:before, &:after{
                content: '';
                z-index: -1;
                position: absolute;
                left: 10px;
                bottom: 10px;
                width: 60%;
                max-width: 240px;
                max-height: 110px;
                height: 70%;
                .box-shadow(0 10px 5px #9b9c9e);
                .skew-rotate(-15deg, -5deg);
            }
            &:after{
                left: auto;
                right:10px;
                .skew-rotate(15deg, 5deg);
            }
        }

        & .article-text{
            overflow: hidden;
            max-height: 132px;
            height: 9em;
            position:relative;
            & h1,& h2,& h3,& h4 { margin:0;}
            & p {
              margin:0;
              display:inline;
            }
            & h3.title {
              color:#9b9c9e;
              margin:0;
              padding:0;
              line-height:2em;
              font-size: 19.25pt;
            }
            & .more {
              position: absolute;bottom: 0;right: 0;background: inherit;
              background-color:@bodyBackground;
              padding:0 10px;
              & a{ margin-left:5px;}
            }
        }
        &.warning{
            background-color: @warningBackground;
        }
    }
}

.feed-table-header{
    padding: 10px;
    background:white;
    border-bottom: 2px solid #079ebd;
    color:black;

    &.btn-toolbar,&.in-btn-toolbar{
        margin:0;
        padding: 10px 5px;
    }

    &.row-fluid, &.in-row{
        margin:0;
    }
    & .input{
        padding: 10px 5px;
    }
    & .file_upload{
        margin: 10px 5px;
    }
    & h4{
        margin:0 5px 0;
        padding: 5px 0;
    }
}

.comment-reply {
    margin:0;
    padding:0;
    font-size:inherit;

}