.fd-ui {
    margin-top: 0px;
    margin-bottom: 0px;
    &.comments-flat{
        background: #fff;
        .box-shadow(0 2px 3px 1px rgba(0,0,0,.1));
        margin:0 0 50px 0;
        padding-bottom: 5px;

        & .fd-title{
            border-bottom: 1px solid #079ebd;
            margin:0 0 5px;

            .fd-title-i{
                font-size: @baseFontSize * 1.25;
                font-weight: @headingsFontWeight;
                padding:0;
            }
        }

        & .fd-entry{
            margin:0px 0px 0px 0px;
            padding:0px 0px 0px 0px;
            border-bottom:2px solid #ffffff;
            border-bottom-style: groove;

            & .fd-entry-container{ margin: 0; padding: 0; .fd-make-col(12); }
            img {max-width:100%;}
            & .fd-entry-container{ margin: 0; padding: 0; & .media-body{overflow:initial;} }
        }
        & .fd-body{ padding:0; margin: 0; }

        & .comments{ & .fd-body{} }
    }
    &.comments{
        & .fd-body{
            padding-bottom:0;
        }
    }
}

.feed-table-header{
    background:white;
    border-bottom: 2px solid #079ebd;
    color:black;

    &.btn-toolbar{
        margin:0;
        padding: 10px 5px;
    }

    &.row-fluid{
        margin:0;
    }
    & .input{
        padding: 10px 5px;
    }
    & .file_upload{
        margin: 10px 5px;
    }
    & h4{
        margin:0 5px 0;
        padding: 5px 0;
    }
}

.comment-reply {
    margin:0;
    padding:0;
    font-size:inherit;

}