@media (max-width: 1150px) {
    .container-fluid, #footer-background, #footer-text {
        width:980px;
    }
    .shadow {
        background-position:0px 115px;
    }
}
@media (min-width: 768px) and (max-width: 1050px) {
    .container-fluid, #footer-background, #footer-text {
        width:724px;
    }
    .span2 p.statistics .icon-user + span {
        margin-right:30px;
    }
    .shadow {
        background-image:none;
    }
}
@media (max-width: 767px) {
    body{
		padding: 0px;
	}
	#slider-boxes{
        margin-left: 5px;
        margin-right: 5px;
    }
	.slider-pict {
		height: auto;
	}
	#slider-boxes .box {
        width: 312px;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
	#main-container-inner {
	    padding:0 10px;
	}
    .container-fluid, #footer-background, #footer-text {
        width:100%;
    }
    .shadow {
        background-image:none;
    }
    #footer-text {
        margin-top:-40px;
    }
}
@media (max-width: 768px) and (min-width: 480px) {
	#slider-boxes .box {
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 480px) {
	#slider-boxes .box {
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 13pt;
        height: 110px;
    }
    .accent {
        font-size: 22pt;
        line-height: 22pt;
    }
    .buy {
        position:relative;
        top:0;
        left:0;
        width:130px;
        margin:0 auto;
    }
    .container .buy p {
        top:0;
    }
    #footer-text {
        margin-top:-10px;
    }
    #footer-text ul {
        width:150px;
        margin:0 auto;
    }
    #links li {
        display:block;
    }
}
@media (max-width: 320px) {
    #slider-boxes .box {
        font-size:11pt;
    }
    .container .buy {
        width:auto;
    }
    .container .buy p {
        font-size:14pt;
    }
    #footer-background {
        display:none;
    }
    #footer-text {
        margin-top:20px;
    }
}
@media (max-width:979px) {
    .navbar .nav-collapse .nav li {
        display:block;
    }
    .nav-collapse .nav > li > a:hover {
        background-color:transparent;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
	#slider-boxes .box {
        font-size: 11pt;
        height: 110px;
    }
    #slider-boxes .box .accent {
        font-size: 24pt;
        line-height: 24pt;
    }
}
