// Bootstrap Core variables
@import "../bootstrap/less/variables.less";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

// Scaffolding
// -------------------------
@bodyBackground:        #dcdee0;
@textColor:             #666666;

// Typography
// -------------------------
@openSansProFontFamily:    "Open Sans Pro", sans-serif;
@oswaldFontFamily:         'Oswald', sans-serif;

@baseFontSize:          11pt;
@baseFontFamily:        @openSansProFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @oswaldFontFamily;

@headingsFontFamily:    @oswaldFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor

// Buttons
// -------------------------
@btnGooglePlusBackground:               #cc3732;
@btnGooglePlusBackgroundHighlight:      #e74b37;

// Navbar
// -------------------------
@navbarCollapseWidth:             767px;
@navbarBrandColor:                #fffefe;

