<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet/less" type="text/css" href="/static/igrach/igrach.less"/>
  <script src="/static/less/dist/less-1.4.0-beta.js" type="text/javascript"></script>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  {{body}}
  <script>{{script}}</script>
  <div id="n2ostatus" style="display:block"></div>
  <script src="/static/n2o/jquery.js"></script>
  <script src="/static/n2o/bert.js"></script>
  <script src="/static/n2o/bullet.js"></script>
  <script src="/static/n2o/n2o.js"></script>
  <script src="/static/js/holder.js"></script>
  <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
  <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="/static/bootstrap/js/bootstrap-button.js"></script>
  <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
  <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
  <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
  <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
</body>
</html>
