<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8"/>
  <meta name="description" content="Your text here"/>
  <meta name="keywords" content="Your text here" />
  <meta name="author" content="Андрей">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon" >
  <link href="/static/css/igratch.css" rel="stylesheet" type="text/css">
  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">
</head>
<body>
  {{body}}
  <script>{{script}}</script>
  <div id="n2ostatus" style="display:none"></div>
  <script src="/static/js/all.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
